# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/
bin/

## IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
out/

!**/src/main/**
!**/src/test/**
!gradle/wrapper/gradle-wrapper.jar

## STS
.project
.apt_generated
.classpath
.factorypath
.settings
.springBeans
.sts4-cache

## vscode
.vscode

github.properties